*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

background:
radial-gradient(
circle at top,
rgba(34,184,255,.15),
transparent 40%
),

linear-gradient(
180deg,
#02040c,
#091425,
#050712
);
}

.mobile-frame{

width:390px;
height:844px;

background:
linear-gradient(
180deg,
#050712,
#091425
);

border-radius:35px;

overflow:hidden;

position:relative;

border:1px solid
rgba(255,255,255,.08);
}

.settings-screen{

height:100%;

overflow-y:auto;

padding:25px 20px 110px;
}

.settings-screen::-webkit-scrollbar{
display:none;
}

h1{
color:white;
}

.subtitle{

color:#9fb4d2;

margin-top:8px;
margin-bottom:20px;
}

.section-title{

color:#36ffe0;

font-weight:600;

margin-top:25px;
margin-bottom:12px;
}

.settings-card{

background:
rgba(255,255,255,.06);

border-radius:20px;

overflow:hidden;

border:1px solid
rgba(255,255,255,.08);
}

.setting-item{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px;

color:white;

border-bottom:
1px solid
rgba(255,255,255,.08);
}

.setting-item:last-child{
border:none;
}

.switch{
position:relative;
display:inline-block;
width:50px;
height:28px;
}

.switch input{
display:none;
}

.slider{

position:absolute;

cursor:pointer;

top:0;
left:0;
right:0;
bottom:0;

background:#555;

border-radius:30px;

transition:.3s;
}

.slider:before{

position:absolute;

content:"";

height:22px;
width:22px;

left:3px;
bottom:3px;

background:white;

border-radius:50%;

transition:.3s;
}

input:checked + .slider{

background:#36ffe0;
}

input:checked + .slider:before{

transform:
translateX(22px);
}

.logout-btn{

width:100%;

height:55px;

margin-top:25px;

border:none;

border-radius:18px;

font-size:15px;
font-weight:700;

cursor:pointer;

background:
rgba(255,0,0,.12);

color:#ff6b6b;
}

.bottom-nav{

position:absolute;

left:15px;
right:15px;
bottom:15px;

height:65px;

display:flex;
justify-content:space-around;
align-items:center;

border-radius:25px;

background:
rgba(255,255,255,.08);

backdrop-filter:blur(15px);
}

.bottom-nav a{

font-size:24px;

text-decoration:none;

color:#9fb4d2;
}