*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

background:
radial-gradient(
circle at top,
rgba(34,184,255,.15),
transparent 40%
),

linear-gradient(
180deg,
#02040c,
#091425,
#050712
);
}

.mobile-frame{

width:390px;
height:844px;

background:
linear-gradient(
180deg,
#050712,
#091425
);

border-radius:35px;

overflow:hidden;

position:relative;

border:1px solid
rgba(255,255,255,.08);
}

.skills-screen{

height:100%;

overflow-y:auto;

padding:25px 20px 110px;
}

.skills-screen::-webkit-scrollbar{
display:none;
}

h1{

color:white;

font-size:30px;
}

.subtitle{

color:#9fb4d2;

margin-top:8px;
margin-bottom:25px;
}

.skill-card{

background:
rgba(255,255,255,.06);

border:1px solid
rgba(255,255,255,.08);

border-radius:20px;

padding:18px;

margin-bottom:15px;
}

.skill-header{

display:flex;
justify-content:space-between;

color:white;

margin-bottom:12px;
}

.progress{

height:10px;

background:
rgba(255,255,255,.08);

border-radius:20px;

overflow:hidden;
}

.progress-fill{

height:100%;

border-radius:20px;
}

.coding{
width:70%;
background:#36ffe0;
}

.english{
width:60%;
background:#22b8ff;
}

.interview{
width:40%;
background:#a855ff;
}

.career{
width:50%;
background:#4ade80;
}

.skill-card p{

margin-top:12px;

color:#9fb4d2;
}

.start-btn{

width:100%;

height:55px;

margin-top:20px;

border:none;

border-radius:18px;

font-size:15px;
font-weight:700;

cursor:pointer;

background:
linear-gradient(
135deg,
#36ffe0,
#22b8ff
);
}

.bottom-nav{

position:absolute;

left:15px;
right:15px;
bottom:15px;

height:65px;

display:flex;
justify-content:space-around;
align-items:center;

border-radius:25px;

background:
rgba(255,255,255,.08);

backdrop-filter:blur(15px);
}

.bottom-nav a{

text-decoration:none;

font-size:24px;

color:#9fb4d2;
}

.bottom-nav .active{

color:#36ffe0;
}